html {
	background: #f7f7f7 url('../res/band.png') no-repeat bottom right fixed;
	background-size: contain;
}

body {
	font-family: "SF UI Display", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 14pt;
	letter-spacing: .025em;
	margin: 13% 5%;
	padding-bottom: 3em;
}

p, li, h1, h2 {
	width: 55%;
	max-width: 540px;
}

p {
	margin: 1em 0;
	line-height: 1.4em;
}

a, a:visited {
	color: black;
	font-weight: 500;
	text-decoration: none;
}

a:hover {
	background-color: #fff700;
}

li {
	line-height: 1.4em;
	margin-top: .5em;
}

ul {
	font-size: 11pt;
}

h1 {
	font-size: 20pt;
	font-weight: 400;
}

h2 {
	font-size: 11pt;
	letter-spacing: .1em;
	margin: 3em 0 1em;
	text-transform: uppercase;
	font-weight: 500;
}

.what {
	font-weight: 500;
}

.when {
	color: #888;
}

.where {
	display: block;
	font-style: italic;
}

.social img {
	width: 75px;
	height: 75px;
	filter: grayscale(1);
	opacity: 0.5;
}

@media only screen
	and (max-width: 1200px) {

		html {
			background: #f7f7f7;
		}

		body {
			padding-top: 20px;
			margin: 0 5%;
		}

		p, li, h1, h2 {
			width: 100%;
			margin: 1em auto;
		}

		li {
			margin: .5em auto 0;
		}

		h2 {
			margin: 3em auto 1em;
		}

	}

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		body {
			font-size: 28pt;
		}

		p, li, h1, h2 {
			max-width: none;
		}

		h1 {
			font-size: 40pt;
		}

		h2 {
			font-size: 22pt;
		}
	}
